<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body style="margin: 0; background-color: #FFF;">
        <table width="769" class="table" style=" width: 100%; border-radius: 24px; padding: 68px 16px 115px 16px;">
            <tr>
                <td>
                    <table class="table-container" style="  width: 100%; max-width: 720px; margin: 0 auto;">
                        <tr>
                            <th align="left">
                                <img class="logo" 
                                     src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/2STO_logo_lqiwof.svg" 
                                     alt="2sto-logo"
                                     style= "height:26px; margin-bottom: 48px;" />
                            </th>
                        </tr>    
                        <tr>
                            <td>
                                <h1 style= "font-family: Raleway;
                                            font-style: normal;
                                            font-weight: 800;
                                            font-size: 45px;
                                            line-height: 58px;
                                            letter-spacing: 1px;
                                            margin-bottom: 50px;">

                                        {{name}}, welcome to the family
                                </h1>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">Hello!</p>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">
                                    I’m Boluwatife Joseph, the founder of 2STO and I’d like to personally thank you for joining our waitlist. Something amazing is coming soon and we can’t wait to walk you through every single step as we are building a digital bank that will simply make life easy for you and your business            
                                </p>            
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p  style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">                        
                                    Our team has made 2sto Banking for everyone. From Freelancers, to professionals, small businesses and companies and individuals. We want our app to work well for you regardless of age, background, education, race, gender, or abilities.
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p  style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">                        
                                    Better than ever, we offer you business accounts, personal bank accounts, access to other financial services like insurance, payments, expenses, joint accounts, overdrafts and more. Anyone can enjoy our services to manage your company's finances and your personal expenses.
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p  style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">                        
                                    The decision to create 2sto Banking was taken in 2020 inspired by how hard it was to run a business effectively and how hard opening a business bank account easily, but we just didn’t want to stop at businesses only, your personal finance and banking is as important. Now imagine how incredible it would be if the whole of Nigeria and the world could also reap the benefits of a 100% digital accounts. 
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p  style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">                        
                                    Our vision isn’t hard. We do not want to replace banks, but to improve user experience and make banking more accessible by simplifying access and tools and offering a range of services to make our clients lives easier. We know that the line between professional and personal life is ever thinner and we can no longer believe that businesses are on one side, and personal life is on the other without them existing together. Our mission is to make your life easier, so you can concentrate on what's important to you. It's no longer your job to fit around the bank, but the bank's job to fit around you.
                                </p>
                            </td>
                        </tr> 
                        <tr>
                            <td>
                                <p  style="color: #0C0C0C; font-size: 16px; margin-bottom: 38px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">                        
                                    Our team values Appreciation, Entrepreneurship, Authenticity, Tenacity, Reliability, Consistency, Commitment, Transparency and Creativity.</p>
                                </p>
                            </td>
                        </tr> 
                        <tr align="center">
                            <td>
                                <a style=
                                    "width:250px; 
                                    padding: 20px; 
                                    border-radius: 5px; 
                                    border:none;
                                    margin-bottom:7px;
                                    color: #D1F9FF;
                                    background: #0063FF;
                                    font-size: 13px;
                                    font-family: 'Raleway';
                                    font-weight: 600;
                                    letter-spacing: 0.5px;
                                    cursor: pointer; 
                                    text-transform: capitalize;"
                                    href="{{verifyURL}}"
                                    onMouseOver="this.style.opacity=' 0.9'"
                                    onMouseOut="this.style.opacity='1'"
                                    >

                                    Confirm email
                                </a>
                            </td>
                        </tr>
                        <tr align="center">
                            <td>
                                <span style="color: #0C0C0C; font-size: 10px; font-family: 'Raleway', sans-serif; letter-spacing: 1px;">
                                    Please confirm your account by <br/> clicking the button above
                                </span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            

            <tr>
                <table class="footer" 
                        style="width: 100%; padding: 50px 16px; background:#D1F9FF;">
                    <tr>
                        <td>
                            <table class="footer-container"
                                    style="width: 100%; max-width: 720px; margin: 0 auto;"
                                    >
                                <tr align="left" >
                                    <th style=" border-bottom:1px solid #0063FF; margin: 0 auto;">
                                        <img class="footer-logo" 
                                             src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/2STO_coloured_c1n3pj.svg" alt="2sto-logo" 
                                            style="height: 90px; padding-bottom: 32px;"
                                             />
                                    </th>
                                </tr>
                                
                                
                               <tr>
                                   <td>
                                       <table class="socials" style=" margin :35px auto 0 auto; max-width: 500px;">
                                        <tr>
                                            <td >
                                                <a style= "text-decoration: none; color: #0063FF; font-family: 'Raleway', sans-serif; letter-spacing: 1px;" href="https://twitter.com/2stobanking">
                                                    <img class="icon" style= "height:20px; margin: 0 8px;"src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/twitter_cp4hoe.svg" alt="twitter-icon" />
                                                </a>
                                            </td>
                                            <td >
                                                <a style= "text-decoration: none; color: #0063FF; font-family: 'Raleway', sans-serif; letter-spacing: 1px;" href="https://www.instagram.com/2stobanking/?hl=en">
                                                    <img class="icon" style= "height:20px; margin: 0 8px;" src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/instagram_nksbfb.svg" alt="instagram-icon" />
                                                </a>
                                            </td>
                                            <td>
                                                <a style= "text-decoration: none; color: #0063FF; font-family: 'Raleway', sans-serif; letter-spacing: 1px;" href="https://youtube.com/channel/UCiJP9wWDGoCQayakM4ulhBA">
                                                    <img class="icon" style= "height:20px; margin: 0 8px;" src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/youtube_ursdiu.svg" alt="youtube-icon" />
                                                </a>
                                            </td>
                                            <td>
                                                <a style= "text-decoration: none; color: #0063FF; font-family: 'Raleway', sans-serif; letter-spacing: 1px;" href="https://www.linkedin.com/company/2stobank">
                                                    <img class="icon" style= "height:20px; margin: 0 8px;" src="https://res.cloudinary.com/wenadev/image/upload/v1630675604/linkedin_rekxyu.svg" alt="linkedin-icon" />
                                                </a>
                                            </td>
                                        </tr>
                                       </table>
                                   </td>
                               </tr>

                               <tr align="center">
                                   <td>
                                       <p style="font-family: Helvetica; font-size: 14px; line-height: 20px; margin: 20px 0 0 0; color: #0063FF;" class="copyright">&copy; 2021 2STO</p>
                                   </td>
                               </tr>
                            </table>
                        </td>
                    </tr>
                       
                </table>
            </tr>             
        </table>
    </body>
</html>